body {
   background-image: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/95/95278.png');
}

#container {
   width: 926px;
   margin: 0 auto;
   background: #BBBBAA;
   padding: 15px;
   opacity: 0.9;
}

#form, #douches, #foot {
   background-color: #EEE;
   border: 1px solid #333;
   margin-top: 30px;
   opacity: 1.0;
}

#foot {
   text-align: right;
   padding: 3px;
   color: #BBBBAA;
   font-size: 0.9em;
}

#foot a, #foot a:visited {
   color: #BBBBBB;
   text-decoration: none;
}

#foot a:hover {
   color: #BBBBBB;
   text-decoration: underline;
}

#form {
   padding: 40px;
}

#form input[type="text"], #form textarea {
   background-color: #EEE;
   border-style: none none dashed none;
   border-color: #333;
   border-width: 2px;
   font: 1.15em/1.1 'Lucida Grande',sans-serif;
}

#form input[type="text"] {
   width: 300px;
   padding-left: 10px;
}

#form form {
   width: 550px;
   margin: 0 auto;
}

#form input[type="submit"] {
   height: 50px;
   width: 200px;
}

#form textarea {
   height: 2.5em;
   width: 512px;
   border: 1px solid #aaa;
}

.jerk {
   padding: 10px
}

